@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Menoe Grotesque";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/Menoe Grotesque-Regular-Web.woff2") format("woff2");
}
@font-face {
  font-family: "Menoe Grotesque";
  font-weight: normal;
  font-style: italic;
  src:
    url("assets/fonts/Menoe Grotesque-Regular Italic-Web.eot")
      format("embedded-opentype"),
    url("assets/fonts/Menoe Grotesque-Regular Italic-Web.woff2") format("woff2"),
    url("assets/fonts/Menoe Grotesque-Regular Italic-Web.woff") format("woff");
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
